.hh{
    margin-top: -41px;
    padding-bottom: 23px;
    color: #dec332;
    text-align: center;
  }
  
.mrg-reg-top{
    margin-top: 8em;
  }
  .upload-btn{
    margin-top: 45px;
    margin-bottom: -31px;
  }

  .upload-valid-msg{
    text-align: right;
    margin-right: 49px;
    margin-top: -22px;
  }