<div class="container"><table class="table" >
  <thead>
    <tr>
      <th>SL No</th>
      <th>Product Name</th>
      <th>Review ID</th>
      <th>Reviewer Name</th>
      <th>Reviewer Text</th>
      <th>Overall Rating</th>
      <th>Summary</th>
      <th>Date of Review</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
    <tr style="background: #01e1eb;" >
      <td>{{index + 1}}</td>
      <!-- <td>product_name</td>
      <td>reviewer_id</td>
      <td>reviewer_name</td>
      <td>review_text</td>
      <td>overall_rating</td>
      <td>summary_product</td>
      <td>date_review</td> -->

    </tr>
    <tr style="background: #9e9c9d;">
      <td>1</td>
      <td>product_name</td>
      <td>reviewer_id</td>
      <td>reviewer_name</td>
      <td>review_text</td>
      <td>overall_rating</td>
      <td>summary_product</td>
      <td>date_review</td>

    </tr>
    <tr style="background: #0cf569;">
      <td> 1</td>
      <td>product_name</td>
      <td>reviewer_id</td>
      <td>reviewer_name</td>
      <td>review_text</td>
      <td>overall_rating</td>
      <td>summary_product</td>
      <td>date_review</td>

    </tr>
  </tbody>
</table></div>